<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">

<th:block layout:fragment="content">

		<div class="box">게시판</div>
	<div class="box2">
		<div class="title2">게시판</div>
	
	<div class="search" >
		<form id="search-form">
			<select name="serch" id="select">
				<option value="nikname">작성자</option>
				<option value="title">제목</option>
				<option value="date">등록일</option>
			</select>
			<input type = "text" id="serch-board" placeholder="검색어를 입력하세요"/>
			<input type = "submit" value="검색"/>
		</form>
	</div>
	
	 <table>
        <thead>
          <tr>
            <th class="td-s">번호</th>
            <th class="td-m">작성자</th>
            <th>제목</th>
            <th>첨부파일</th>
            <th class="td-m">등록일</th>
            <th class="td-s">조회수</th>
            <th class="td-s">기타</th>
          </tr>
        </thead>
		<tbody>
		   <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${BoardList}">
            <td scope="row" th:text="${row.idx}"></td>
            <td th:text="${row.nickname}"></td>
            <td th:text="${row.title}"></td>
            <td th:text="${row.fileName}"></td>
            <td th:text="${row.upDate}"></td>
            <td th:text="${row.viewCnt}"></td>
            <td>-</td>
          </tr>
          <tr th:unless="${not #lists.isEmpty( boardList )}">
            <td colspan="7">조회된 결과가 없습니다.</td>
          </tr>
        </tbody>
	</table>
	
	<div class="write"><a th:href="|@{/project/write}|">게시글 작성</a></div>
	
	</div>
	</th:block>
	 
</html>
