<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">

<th:block layout:fragment="content">
	<div th:if="${user}!=null">
	 	<div class="box">Welcome</div>
		<div class="box2">Hello</div>
	</div>
	<div th:unless="${user}!=null"> 	
	   <div class="box">홈</div>
		<div class="box2">로그인이 필요합니다</div>
	</div>
	
</th:block>
<th:block layout:fragment="login">
</th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/
      /*]]>*/
    </script>
  </th:block>
  
</html>
