<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">

<th:block layout:fragment="content">
	<div class="box">인사관리</div>
	<div class="box2">
	<div class="title2">인사관리</div>
	
	<button class="add" onclick="add()">직원추가</button>
	
	<div class="search" >
		<form id="searchForm">
			<select name="serch" id="select">
				<option value="no">직원번호</option>
				<option value="name">이름</option>
				<option value="dep">부서</option>
				<option value="jikup">직급</option>
				<option value="or">기타</option>
			</select>
			<input type = "text" id="serch-board" placeholder="검색어를 입력하세요"/>
			<input type = "submit" value="검색"/>
		</form>
	</div>
	
	
	<table>
        <thead>
          <tr>
            <th>idx</th>
            <th>직원번호</th>
            <th>이름</th>
            <th>주민번호</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>부서</th>
            <th>직급</th>
            <th>-</th>
          </tr>
        </thead>
		<tbody>
		   <tr th:if="${not #lists.isEmpty( employeeList )}" th:each="row : ${employeeList}">
            <td scope="row" th:text="${row.idx}"></td>
            <td th:text="${row.no}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.juminNum}"></td>
            <td th:text="${row.telNum}"></td>
            <td th:text="${row.email}"></td>
            <td th:text="${row.depName}"></td>
            <td th:text="${row.jikup}"></td>
            <td>-</td>
          </tr>
          <tr th:unless="${not #lists.isEmpty( employeeList )}">
            <td colspan="9">조회된 결과가 없습니다.</td>
          </tr>
        </tbody>
	</table>

	<form method="post" th:action="@{/employee/add}" th:object="${employee}">
			<input type="text" th:field="*{name}" placeholder="name"/>
			<input type="text" th:field="*{juminNum}" placeholder="jumin"/>
			<input type="text" th:field="*{telNum}" placeholder="tel"/>
			<input type="text" th:field="*{email}" placeholder="email"/>
			<input type="text" th:field="*{jikup}" placeholder="jikup"/>
			<input type="text" th:field="*{depNo}" placeholder="depNo"/>
			<input type="text" th:field="*{adminpw}" placeholder="adminpw"/>
			<input type="submit"/>
		</form>


	</div>
</th:block>
	
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/

      function add() { // 직원추가
        location.href = "/employee/add"
      }
      function open(uri, queryString) { // x
        location.href = uri + queryString;
      }
        
      /*]]>*/
    </script>
  </th:block>
  
</html>
