<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="project/layout/basic">
<th:block layout:fragment="content">
		<div class="box">직원 추가</div>
	<div class="box2">
		<div class="box-title">직원 추가</div>
	<div class="box2-inbox">
	<div class="join-wrapper">
	
		<form method="post" th:action="@{/employee/add}" th:object="${employee}">
			<input type="text" th:field="*{name}" placeholder="name"/>
			<input type="text" th:field="*{juminNum}" placeholder="jumin"/>
			<input type="text" th:field="*{telNum}" placeholder="tel"/>
			<input type="text" th:field="*{email}" placeholder="email"/>
			<input type="text" th:field="*{jikup}" placeholder="jikup"/>
			<input type="text" th:field="*{depNo}" placeholder="depNo"/>
			<input type="text" th:field="*{adminpw}" placeholder="adminpw"/>
			<input type="submit"/>
		</form>
				
	</div><!-- join-wrapper -->
	</div><!-- box2_inbox -->
	</div><!-- box2 -->
</th:block>
</html>
			
