<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">

  <!-- MySQL Paging -->
  <sql id="paging">
    LIMIT
      #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
  </sql>
  
  <!-- Oracle Paging Header -->
  <sql id="pagingHeader"> 
    <if test="paginationInfo.firstRecordIndex != null and paginationInfo.lastRecordIndex != null">
      SELECT *
      FROM (
        SELECT rownum rnum, m.*
        FROM (
    </if>
  </sql>

  <!-- Oracle Paging Footer -->
  <sql id="pagingFooter">
    <if test="paginationInfo.firstRecordIndex != null and paginationInfo.lastRecordIndex != null">
        ) m
        WHERE rownum <![CDATA[<=]]> #{paginationInfo.lastRecordIndex}
      )
      WHERE rnum <![CDATA[>]]> #{paginationInfo.firstRecordIndex}
    </if>
  </sql>
  
  <!-- Oracle search -->
  <sql id="search_o">
    <!-- 검색 키워드가 있을 때 -->
    <if test="searchKeyword != null and searchKeyword != ''">
      <choose>
        <!-- 검색 유형이 있을 때 -->
        <when test="searchType != null and searchType != ''">
          <choose>
            <when test="'no'.equals(searchType)">
              AND w.no like '%' || #{searchKeyword} || '%'
            </when>
            <when test="'name'.equals(searchType)">
              AND e.name LIKE '%' || #{searchKeyword} || '%'
            </when>
            <when test="'work'.equals(searchType)">
              AND w.work_on LIKE '%' || #{searchKeyword} || '%'
            </when>
          </choose>
        </when>
        <!-- 검색 유형이 없을 때 -->
        <otherwise>
          AND
            (
                 w.no LIKE '%' || #{searchKeyword} || '%'
              OR e.name LIKE '%' || #{searchKeyword} || '%'
              OR w.work_on LIKE '%' || #{searchKeyword} || '%'
            )
        </otherwise>
      </choose>
    </if>
  </sql>


</mapper>